<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    
    <table>
      <tr>
        <th>Name:</th>
        <td><%= @enquiry.name %></td>
      </tr>
      <tr>
        <th>Email:</th>
        <td><%= @enquiry.email %></td>
      </tr>
      <tr>
        <th>Enquiry:</th>
        <td><%= @enquiry.message %></td>
      </tr>
    </table>
  </body>
</html>