
		<section class="intro" id="mission">
			<article class="container">
				<h1>
					Marketing Guru <span>and Web App Coder</span>
				</h1>
				<div class="row">
					<div class="span12">
						<p>
							<strong>I am a diligent, hardworking and passionate marketer who loves what he does</strong> 
							<br />
							With the combination of both Marketing and Web App coding, it is the perfect mix of gratification and inventiveness which brings out the best of my quality. 
						</p>
					</div>
				</div>

			</article>
			<div class="tracks">
				<div class="container">
					<h1 class="pull-right"><em>“If you’re walking down the right path and you’re willing to keep walking, eventually you’ll make progress” <h4>- President Barack Obama</h4></em></h1>
				</div>
			</div>
				
						
			
				
		</section>
		
		<section id="projects" class="projects">
			<div class="container">
				<h2>
					My Projects Coming Soon :)
				</h2>
				
				</div>
			</div>
		</section>
		
		<section id="about" class="about">
			<article class="container">
				<h2>
					Open to opportunities and Idealistic<span>with Entreprenuerial Instincts</span>
				</h2>
				<div class="row content">
					<div class="span4">
						<h3>
							What about me?
						</h3>
						<p>
							<strong>""Do the best you can until you know better. Then when you know better, do better"" - Maya Angelou</strong> 
							<br /><br />
							Business is like Sport. From a sporting backround, I have learnt from success and failure and believe that life is about enjoyment and with the perfect life-balance, achievement is of high prosperity.
						</p>
					</div>
					<div class="span4">
						<h3>
							Why I do what I do? 
						</h3>
						<p>
							<strong>Almost overnight, the Internet's gone from a technical wonder to a business must. – Bill Schrader, businessman </strong> 
							<br /><br />
							Marketing and Web App Coding is the perfect mix in being successful in the online world and for a fact, having a love for marketing and building web apps, will be the jackpot in business success.
						</p>
					</div>
					<div class="span4">
						<h3>
							My goals? 
						</h3>
						<p>
							<strong>Goals are an imporant self-motivator in achieving the vision of desired success and lay down many for myself to do my absolute best in following that through. </strong> 
							<br /><br />
							At the moment, I want to have a prime advantage in the Marketing and Web Industry and have diagnosed an early start has proven to add more fuel in the fire to see my desired successes through. Whilst there are many other goals, my biggest is owning and running a Online tech startup which I'm also currently working on in my spare time.
						</p>
					</div>						
				</div>			
			</article>
		</section>			
				
		<section id="contact" class="contact">
			<article class="container">
				<h2>
					Contact <span>If you want to have a chat to me about Marketing, Web App coding or even Startups, or learn more about how I can help you with advice, feel free to contact me. <br />No strings attached.</span>
				</h2>
				
				<div class="row">
					<div class="span8">
					
						<div id="result"></div>
				
						<div class="alert alert-error error-msg" style="display:none;"> 
							<p>The following fields are required:</p>
							<ul></ul> 
						</div>
						
																			
						<form action="form.php" method="post" id="contact-form">
							<fieldset>
								<div class="controls">
									<input type="text" name="name" id="name" placeholder="Name" class="input-block-level" />
								</div>
								<div class="controls">
									<input type="text" name="email" id="email" placeholder="E-mail" class="input-block-level" />
								</div>
								<div class="controls">
									<textarea name="message" id="message" rows="4" placeholder="Message" class="input-block-level"></textarea>
								</div>
								<input type="submit" value="Send" class="btn btn-inverse btn-large pull-right" name="submit-contact" />
							</fieldset>
						</form>
					</div>
					
					<div class="span4">	
						<div class="social clearfix">
							<a href="https://twitter.com/DanSiepen" class="twitter" title="twitter">twitter</a>
														<a href="http://www.linkedin.com/profile/view?id=255128727&trk=nav_responsive_tab_profile" class="linkedin">linkedin</a>
							<a href="https://www.facebook.com/dan.siepen" class="fb" title="fb">fb</a>
						</div>
						<p>
							Marketing Student and Web App Coder
							<br />
							<strong>Dan Siepen</strong>
							<br />
							e: <a href="dan@thecoderfactory.com">dan@thecoderfactory.com</a>
							<br />
							p: 0438 4984 31
							<br /><br />
							Based in Sydney, Australia.
						</p>							
					</div>
					
				</div>
			</article>
		</section>
