<div id="header-container">
			<div id="header" data-spy="affix" data-offset-top="55">
				<div class="container">
					
					<a href="#" class="btn btn-navbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>					
					<nav id="navbar">
					<a href="/" class="navbar-brand">DanSiepen</a>			
						<ul class="nav">
							<li class="active"><a href="#mission" class="scroll n-mission" title="My Mission">My Mission</a></li>
							<li><a href="#projects" class="scroll n-projects" title="Projects">Projects</a></li>
							<li><a href="#about" class="scroll n-about" title="About">About</a></li>
							<li><a href="#contact" class="scroll n-contact" title="Contact">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>